html, body{
  font-family: "Comfortaa";
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.header {
  background-color: #77e6ca;
  height: 60px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 90%;
  margin: 0px 0px 0px 0px;
}

.header-logo{
  float: left;
  padding: 10px 30px;
  width: 300px;
  length: 33px;
}

li{
  list-style: none;
}

.header li:hover{
  background-color: #24ABE2;
}


.header-list li{
  float: left;
  padding: 6px 50px;
  font-size: 20px;
}


.main{
  background-color:#e1f4fc;
  height: 800px;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.footer{
  height: 220px;
  background-color: #1a6e6b;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.footer-logo{
  font-size: 50px;
  color: #0E76BC;
  float: left;
  padding: 15px 20px;
}

.footer-list{
  font-size: 20px;
  color: #ccfbff;
  float: right;
  padding: 2px 8px;
  margin-right: 40px;
}

.footer-list li{
  padding: 10px;
}
