html{
  font-family: "Comfortaa";
}

.header {
  background-color: #77e6ca;
  height: 60px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

li{
  list-style: none;
}


.header-logo{
  float: left;
  font-size: 36px;
  padding: 8px 30px;
}

.header-list li{
  float: left;
  padding: 6px 50px;
  font-size: 20px;
}


.main{
  background-color:#e1f4fc;
  height: 800px;
  postion: absolute;
  top: 60px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.footer{
  height: 120px;
  background-color: #1a6e6b;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.footer-logo{
  font-size: 40px;
  color: #e1ffcc;
  float: left;
  padding: 10px 20px;
}

.footer-list{
  font-size: 20px;
  color: #ccfbff;
  float: right;
  padding: 2px 8px;
}

.footer-list li{
  padding: 2px;
}
