html{
  font-family: "Comfortaa";
}

.header {
  background-color: #77e6ca;
  height: 60px;
}

li{
  list-style: none;
  float: left;
  padding: 20px 50px;
}

.header-logo{
  float: left;
  font-size: 36px;
  padding: 8px 30px;
}

.main{
  background-color:#e1f4fc;
}
